*{
    box-sizing: border-box;
}

h1{/* seletor */
    color: #000000;/* adobe color - exadecimal */
    background-color: #E62600;
    font-size: 72px;
    border: 5px double #000000;/* double, solid, dotted */

}
h2{
    color: aliceblue;
    background-color: #000000;
}
p{
    width: auto ;
    height: auto ;
}

#paragrafolink {
    text-align: center;

}

span {
    font-weight: bold;
}

a{
    background-color: #E62600;
    color: black;
    text-decoration: none;/* remover linha inferior */
    width: 250px ;
    height: 30px ;
    display: inline-block;/* inline não recebe altura/largura */
    text-align: center;
    line-height: 30px;
}
a:hover{
    color: aqua;
    background-color: azure;
    outline: 2px solid blue;

}